<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Via Saúde</title>

        <link rel="stylesheet" href="/src/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/src/assets/css/fontawesome.css">
		    <link href="https://fonts.googleapis.com/css?family=Poppins:200i,30 0,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/src/assets/css/icofont.css">
        <link rel="stylesheet" href="/src/assets/css/normalize.css">
    </head>
<body>
    <div id="via-saude"></div>
    <script type="module" src="/src/views/via-saude/main.js"></script>

    <script src="/js/jquery.min.js" defer></script>

</body>
</html>