// Nova paleta de cores
$primary: #418E71;
$base: #d9d9d9;
$secondary: #AC453A;
$white: #EAE4D7;
$red: #AC453A;
$blue: #3A57A5;

$primary-light: #66A88E;
$primary-light-2: #8FC6B0;

$primary-dark: #34755C;
$primary-dark-2: #285B49;

$dark: #45423E;

body {
  color: $base;
}

#services > div:nth-child(2) > div > div > div > p {
  color: $dark;
  font-weight: 100;
}

.modal-content{
  backdrop-filter: blur(5px) saturate(90%);
  -webkit-backdrop-filter: blur(5px) saturate(90%);
  background-color: rgba(#fff, 0.5);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);

  .modal-body{
    // background-color: #285b4948;
  }
}

#contact{
  *{
    color: $base;
  }
  
  .atendimento{
  
    .title{
  
    }
  }
}