// Nova paleta de cores
$primary: #4f67b1;
$primary-2: #96ADD5;
$primary-o: #4f67b1bb;
$base: #6c757d;
$secondary: #d9d9d9;
$white: #EAE4D7;
$red: #a61c1c;

// Shades (Escuro)
$primary-s1: #455ca1;
$primary-s2: #3b518f;
$primary-s3: #32467e;
$primary-s1-o: #455ca1bb;
$primary-s2-o: #3b518fbb;
$primary-s3-o: #32467ebb;
$base-s1: #606a71;
$base-s2: #545e65;
$base-s3: #495359;

// Tints (Claro)
$blue-s1: #96add6;
$secondary-s1: #e6c2a7;
$secondary-s2: #ccae95;
$secondary-s3: #b39a83;

// Variáveis simplificadas (sem '#')
$Sprimary: 4f67b1;
$Sprimary-s1: 455ca1;
$Sprimary-s2: 3b518f;
$Sprimary-s3: 32467e;
$Sprimary-o: 4f67b1bb;
$Sprimary-s1-o: 455ca1bb;
$Sprimary-s2-o: 3b518fbb;
$Sprimary-s3-o: 32467ebb;

$dark: #6c757d;